<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect to the public folder
    RewriteRule ^(.*)$ public/$1 [L]

    # Handle Laravel routes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ public/index.php [L]
</IfModule>
